body {
  background-color: lightcyan;
  text-align: center;
}

header {
    position: static;
    left: 0;
    top: 0;
    height: 60px;
    width: 100%;
    background-color: white;
    color: grey;
    text-align: center;
    font-family: verdana;
    font-size: 45px;
}

h1 {
  color: slategray;
  text-align: center;
  font-family: cursive;
}

h2 {
  color: slategrey;
  text-align: center;
  font-family: verdana;
}

h3 {
  color: slategray;
  text-align: center;
  font-family: verdana;
}

h4 {
  color: slategray;
  text-align: center;
  font-family: verdana;}

h5 {   /* footer font */
font-size: 10px;
font-family: sans-serif;
}

p {
  font-family: verdana;
  font-size: 20px;
  text-align: center;
}

.footer {
position: static;
left: 0;
bottom: 0;
height: 100px;
width: 100%;
background-color: white;
color: grey;
text-align: center;
font-family: verdana;
}

button {
  background-color: lightblue;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

img {
  border: 0px solid black;
  border-radius: 8px;
  cursor: auto;
  transition: 0.3s;
}

img:hover {border: 3px solid black;}